html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: black;       
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'font', sans-serif;
    background-color: #6fe7f2;

    margin: 0;
}

* {
    font-family: 'PT Mono', monospace;
    margin: 0;
}

.box {
    width: 800px;
    margin: 20px auto 0 auto;
}

.sidebar {
    display: flex;


    color: white;

    margin: 0 auto;
    width: 100%;
    background-color: #0e6976;
    color: #10FA0C;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
    display: flex;

}


.container {
    width: 800px;
    margin: 0 auto;
    background-color: #0e6976;
    /* position: fixed; */

}



#main-page {
    background-color: #ffffff;
    color: #157193;
    padding: 10px;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    height: 40px;

}


.mainlogo {

    display: flex;
    font-size: 40px;
}

.navbar {
    display: flex;
}

.navbar a {
    margin-left: 15px;
    padding: 10px 0;

    text-transform: uppercase;
}

.description {
    width: 100%;
    max-height: 56px;
    overflow: hidden;
}

.title {
    height: 19px;
    overflow: hidden;

}

.post {
    background-color: #0e6976;

    margin: 10px 0;
    padding: 5px;
}

.box {}



.categories {
    display: flex;
    margin: 5px 0;
}

.category {
    margin-right: 5px;
    padding: 2px;
    background-color: #2090a2;

    border-radius: 2px;
}

.title {
    margin: 5px 0;

}

#post-info {
    background-color: #0e6976;
    color: white;

    margin: 10px 0;
    padding: 5px;

}

input {
    border: none;
    background-color: #0e6976;
    color: white;
    height: 20px;
    border-radius: 2px;
}

button {
    border: none;
    padding: 2px;
    border-radius: 2px;
    background-color: #0e6976;
    color: white;
}

#createcomment_form {
    margin: 0 35%;
}

#comments {
    background-color: #0e6976;
    margin: 10px 0;
    padding: 5px;
}

.comment {
    background-color: #128597;

    margin: 10px 0;
    color: #ffffff;

}

.create_title,
.create_description,
.create_category {
    color: #3bd538;

}

#signin_form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;


}

#signin_form input {
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    margin: 0 auto 10px auto;
}

#signin_form button {
    margin-bottom: 10px;
    width: 70px;
    height: 30px;
    margin: 0 auto 10px auto;
}

#signup_form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;


}

#signup_form input {
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    margin: 0 auto 10px auto;
}

#signup_form button {
    margin-bottom: 10px;
    width: 70px;
    height: 30px;
    margin: 0 auto 10px auto;
}